<!DOCTYPE html>
<html>
<head>
    <title>One page cms</title>
    <script src="{{ MEDIA_URL }}js/jquery.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/backbone/backbone-min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/main.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/app_index.js" type="text/javascript"></script>
    <script type="text/javascript">
$(function(){
//    var appRouter = new AppRouter({root_url:'{{ MEDIA_URL }}'});
//    Backbone.history.start();
})
    </script>
</head>
<body>
    <div id="body"></div>
    <div id="templates"></div>
</body>
</html>
