<!DOCTYPE html>
<html>
<head>
    <title>Octopus</title>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">
    <script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>

    <script src="{{ MEDIA_URL }}js/underscore-min1.3.3.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/backbone-min0.9.2.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}js/app_index.js" type="text/javascript"></script>
    <script type="text/javascript">
//        var router = new IndexRouter();
    </script>
</head>
<body>
</body>
</html>
